.abilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 25px 0px 50px 0px;
  /* border: 1px red solid; */
}

.abilities h1 {
  margin: 25px 0px 50px 0px;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px red solid; */
  width: 60%;
}

.logo-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
}

.skill-bar {
  display: flex;
  width: 200px;
  height: 15px;
  margin: 50px;
  background-color: white;
  border-radius: 1000px;
  border: 1px solid red;
}

.html-skill-per {
  width: 80%;
}

.css-skill-per {
  width: 60%;
}

.javascript-skill-per {
  width: 70%;
}

.reactLogo-skill-per {
  width: 70%;
}

.github-skill-per {
  width: 60%;
}

.docker-skill-per {
  width: 20%;
}

.mysql-skill-per {
  width: 50%;
}

.nodejs-skill-per {
  width: 40%;
}

.typescript-skill-per {
  width: 20%;
}

.per-number {
  display: flex;
  height: 30px;
  width: 30px;
  background-color: aliceblue;
  border-radius: 100%;
  box-shadow: 2px 2git add .
  px gray;
}
