* {
  margin: 0%;
  padding: 0%;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  /* background-color: rgb(255, 204, 255); */
}

.header {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 850px;
  width: 100%;
  top: 0;
  color: white;
}

.header img {
  display: flex;
  width: 100%;
  height: 112%;
}

.navigation {
  position: absolute;
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  height: 100px;
}

.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  margin-top: 425px;
}

.home {
  display: flex;
  align-self: center;
  flex-direction: column;;
  margin: 150px 0px 50px 0px;
  width: 80%;
  /* border: solid 1px red; */
}

.img-container {
  display: flex;
  /* border: red 1px solid; */
  width: 28%;
  height: 28%;
  margin: 0px 25px;
}

.img-container img {
  display: flex;
  width: 100%;
  border-radius: 10%;
}

.first-content {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0px 25px;
  justify-content: center;
  /* border: 1px solid red; */
}

.img-container-2 {
  display: flex;
  width: 28%;
  margin: 0px 25px;
}

.img-container-2 img {
  display: flex;
  width: 100%;
  border-radius: 10%;
}

.second-content {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0px 0px 0px 25px;
}

.profile-content {
  /* border: solid 1px red; */
  display: flex;
  flex-direction: row;
}

.profile-content p {
  margin: 10px 0px;
}

.profile-content-2 {
  /* border: solid 1px red; */
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.profile-content-2 p {
  margin: 10px 0px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 200px;
  bottom: 0;
  width: 100%;
}

.footer p {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  color: white;
  /* border: solid 1px red; */
  height: min-content;
}
