* {
  margin: 0%;
  padding: 0%;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  margin-top: 425px;
}

.hr {
  display: flex;
  width: 50%;
  align-self: center;
  height: 1px;
  background-color: aqua;
}
