.contacts {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 60%;
  align-self: center;
  align-items: center;
}

.contacts h1 {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.contacts-card {
  display: flex;
  flex-direction: row;;
  margin-bottom: 50px;
  width: 100%;
  justify-content: center;
  /* border: 1px solid red; */
}

.contact-container {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.contact-container h2 {
  margin-top: 20px;
}
